/venv/
/Data/.ipynb_checkpoints/
/Data/
/Data/china_import/.ipynb_checkpoints/
/Data/
/Data/china_export/.ipynb_checkpoints/
/metadata/.ipynb_checkpoints/
**/__pycache__
**/**.pyc
/GeneratedData/
/WWF_Domain_Data_v1/.ipynb_checkpoints/
__pycache__/
*.py[cod]
*.so
/Model_Results/china_export/combined_output.csv
/Model_Results/china_export/collated_model_output.csv
/Model_Results/china_import/collated_model_output.csv
/Model_Results/china_import/combined_output.csv
/Model_Results/us_import/collated_model_output.csv
/Model_Results/us_import/combined_output.csv
/Working_Dir/
