/venv/
/Data/.ipynb_checkpoints/
/Data/
/Data/china_import/.ipynb_checkpoints/
/Data/
/Data/china_export/.ipynb_checkpoints/
/metadata/.ipynb_checkpoints/
**/__pycache__
**/**.pyc
/GeneratedData/
/WWF_Domain_Data_v1/.ipynb_checkpoints/
__pycache__/
*.py[cod]
*.so
